@page "{id:int}"
@model BudgetBuddy2.Pages.BudgetModel
@{
    ViewData["Title"] = "Budget";
}

<style>
    <!--
    .title_input {
        font-size: 20pt;
    }

    .hidden_border {
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
    }

    .hidden_border:hover {
        border-top: 1px solid #d0d0d0;
        border-bottom: 1px solid #d0d0d0;
        border-left: 1px solid #d0d0d0;
        border-right: 1px solid #d0d0d0;
    }

    .row_group {
        font-size: 20pt;
        padding-top: 20px;
    }

    .group_input {
        font-size: 20pt;
    }

    .row_data {
        font-size: 12pt;
        text-align: left;
    }

    .row_data_number {
        font-size: 12pt;
        text-align: right;
    }

    .table_header {
        font-size: 14pt;
        text-align: left;
    }

    .table_header_number {
        font-size: 14pt;
        text-align: right;
    }

    .highlight {
        background-color: aliceblue;
    }

    .hidden {
        display: none;
    }
    .leftColumn {
        float: right;
        width: 60%;
    }
    .rightColumn {
        float: right;
        width: 30%;
    }
    -->
</style>

<script type="text/javascript">
    function setFilters(itemId) {
        // unhighlight all rows
        let itemRows = document.getElementsByClassName('item_data');
        for (i = 0; i < itemRows.length; i++) {
            itemRows[i].classList.remove('highlight');
        }

        // highlight row
        let selectedRow = document.getElementById('row_' + itemId);
        selectedRow.classList.add('highlight');

        // hide all actual rows
        let actualRows = document.getElementsByClassName('actual_data');
        for (i = 0; i < actualRows.length; i++) {
            actualRows[i].classList.add('hidden');
        }

        // filter list
        actualRows = document.getElementsByName('actual_' + itemId);
        for (i = 0; i < actualRows.length; i++) {
            actualRows[i].classList.remove('hidden');
        }

        return false;
    }
</script>

<form method="POST">
    <h2>Monthly Budget: <input class="title_input hidden_border" asp-for="Budget.Name" /> </h2>
    <input asp-for="Budget.Id" type="hidden" />
    <table>
        <tr>
            <td width="60%">
                <table id="items" class="table table-hover">
                    <thead>
                        <tr>
                            <th class="table_header hidden">Group</th>
                            <th class="table_header hidden">Id</th>
                            <th class="table_header"></th>
                            <th class="table_header_number">Budget</th>
                            <th class="table_header_number">Actuals</th>
                            <th class="table_header hidden"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int g = 0; g < Model.Budget.Groups.Count; g++)
                        {
                            <tr class="group">
                                <td class="row_group" colspan="3"><input class="group_input hidden_border" asp-for="Budget.Groups[g].Name" /></td>
                                <td class="row_group"><input class="group_input hidden" asp-for="Budget.Groups[g].Id" /></td>
                            </tr>
                            @for (int i = 0; i < Model.Budget.Groups[g].Items.Count; i++)
                            {
                            <tr class="item_data" id="row_@Model.Budget.Groups[g].Items[i].Id">
                                <td><input class="row_data hidden_border" asp-for="Budget.Groups[g].Items[i].Id" /></td>
                                <td><input class="row_data hidden_border" asp-for="Budget.Groups[g].Items[i].Name" /></td>
                                <td><input class="row_data_number" asp-for="Budget.Groups[g].Items[i].BudgetAmount" /></td>
                                <td><div class="row_data_number">@Model.Budget.Groups[g].Items[i].ActualAmount </div></td>
                                <td><button onClick="return setFilters('@Model.Budget.Groups[g].Items[i].Id')">...</button></td>
                            </tr>
                            }
                                <tr class="group">
                                    <td><button type="submit" asp-page-handler="AddItem" asp-route-group="@Model.Budget.Groups[g].Name">+</button></td>
                                    <td />
                                    <td />
                                    <td />
                                </tr>
                        }
                    </tbody>
                </table>
                <button type="submit" asp-page-handler="AddGroup">Add Group</button>
            </td>
            <td width="40%">
                <table id="actuals" class="table table-hover">
                    <thead>
                        <tr>
                            <th class="table_header">ItemId</th>
                            <th class="table_header">Date</th>
                            <th class="table_header">Description</th>
                            <th class="table_header">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int a = 0; a < Model.Budget.Actuals.Count; a++)
                        {
                            <tr class="actual_data" name="actual_@Model.Budget.Actuals[a].ItemId">
                                <td class="row_data"><input asp-for="Budget.Actuals[a].ItemId" /></td>
                                <td class="row_data"><input asp-for="Budget.Actuals[a].Date" /></td>
                                <td class="row_data"><input asp-for="Budget.Actuals[a].Description" /></td>
                                <td class="row_data"><input asp-for="Budget.Actuals[a].Amount" /></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="submit" asp-page-handler="AddActual">Add</button>
            </td>
        </tr>
    </table>

    <p></p>
    <button type="submit">Save changes</button>
</form>

